*{
  padding:0;
  margin: 0; 
  box-sizing: border-box;
}
.header{
  background-size: cover;
  height: 600px; 
  background-color: #F9D5DB;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/2062426/pexels-photo-2062426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

}
h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 18rem;
  color: white;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
  text-align: center;
  padding: 20rem;

}

html{
  font-size: 62.5%;
  height: 100%; 
  min-height: 100%;
}
body{
  background-color: aliceblue;
  font-family: 'Archivo', sans-serif;
  height:100%; 
  width: 100%; 
  font-size: 1.6rem; 
}
#container{ 
  /* margin: 2rem auto;  */
  flex-wrap: wrap;
  display: flex;
}
.card{
  display: flex;
  background-color: #fff;
  box-shadow: 0.25rem 0 0.25rem rgba(0,0,0,0.25);
  margin: 2rem;
  border-radius: 20px;

}
.card-img{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  flex: 0 0 34rem;
  max-width: 100%;
}
.card-img img{
  width: 100%;
  height:100%;
  object-fit: fill;
  display: block; 
  
}
.card2{
  height: 40vh;
  width: 18vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 0.25rem 0 0.25rem rgba(0,0,0,0.25);
  transition: all 0.3s;
}

.card-img2{
  height: 80%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.card-content {
  padding: 20px; /* Add padding here */
  /* Other styles... */
}

.video {
  margin-top: 2rem;
  display:flex;
  justify-content:  space-between;
  align-items:center;
}

@media screen and (min-width:900px) {
  .card{
    display: flex; 
    height: 35rem;
    overflow: hidden;
  }
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media  screen and (max-width:1200px) {
  .card {
      width: 70%;
  }
  .card2 {
    width: 70%;
}
}

@media screen and (max-width: 800px){
  .card {
      width: 100%;
  }
  .card2 {
    width: 100%;
    height:auto; 
}
#container{
  padding:7rem;
}
}

/* CSS */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}